<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
  

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not standart title</title>
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet"> 

  
      <link rel="stylesheet" href="css/style_reg.css">

</head>

<body>
  <h1>Sign In Form</h1>
<div id="wrapper">
	<form id="signin" method="" action="" autocomplete="off">
		<input type="text" id="user" name="user" placeholder="username" />
        <input type="text" id="mail" name="user" placeholder="email" />
		<input type="password" id="pass" name="pass" placeholder="password" />
		<input type="password" id="pass_again" name="pass" placeholder="password again" />
		<button type="submit">&#xf0da;</button>
	</form>
</div>
  
  
</body>
</html>
